include CHANGELOG.md
include CITATION.cff
include CODE_OF_CONDUCT.md
include CONTRIBUTING.md
include environment.yml
include SECURITY.md
recursive-include config/releases *.json
recursive-include docs *.md
recursive-include examples *.md *.py *.sh *.tsv
